
.category {
    > ul {
        > li {
            border: 1px solid #eeeeee;
            border-bottom: 0;
            &:last-child {
                border-bottom: 1px solid #eeeeee;
            }

            &[data-cid='4'] {
               .content h2 {
                    .post-content-wrapper {
                        overflow: initial;
                    }
                }
            }
            .content {
                h2 {
                    .post-content-wrapper {
                        display: block;
                        position: relative;
                        border-left: none;
                        text-align: left;
                        margin-top: 5px;
                        overflow: hidden;
                        height: auto;
                        max-height: 120px;
                        font-size: 14px;
                        line-height: 19px;
            
                        p {
                            font-size: 14px;
                        }
                        strong {
                            color: $text-muted;
                        }

                        > .fade-effect {
                            content  : "";
                            position : absolute;
                            z-index  : 1;
                            top   : 70px;
                            left     : 0;
                            background-image : linear-gradient(to bottom, 
                                              rgba(255,255,255, 0), 
                                              rgba(255,255,255, 1) 90%);
                            width    : 100%;
                            height   : 50px;
                        }

                        a.add-to-dictionariez {
                            position: absolute;
                            right: 10px;
                            top: -27px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
    &.captionz-trove > ul {
        > li {
            .content { 
                .video-thumb {
                    img {
                        border-radius: 4px;
                        height: auto;

                        object-fit: cover;
                        width: 140px;
                        height: 78px;
                        object-position: 100% 50%;
                    }
                    .fa-list {
                        position: absolute;
                        top: 15px;
                        left: 133px;
                        color: #eee;
                    }
                }
                .user-avatar {
                    margin-left: 94px;
                }
                h2 {
                    margin-left: 160px;
                    .post-content-wrapper {
                        max-height: 50px;
                        > .fade-effect {
                            top   : 20px;
                            height: 30px;
                        }
                    }
                }

                .stats-row {
                    margin-left: 160px;
                }
            }
        }
    }
}