.category-left[data-widget-area="left"] {
    position: sticky;
    top: 71px;
}
.breadcrumb > li {
    overflow: initial;
}

.category {
    .breadcrumb {
        border: 1px solid #eeeeee;
        margin-bottom: 10px;
        padding: 5px 15px;
        height: 40px;

        > li {
            display: none;
            &:before {
                display: none;
            }
            &:last-child {
                display: inline-block;
            }
        }
    }
    > ul {
        > li {
            border: 1px solid #eeeeee;
            border-bottom: 0;
            &:last-child {
                border-bottom: 1px solid #eeeeee;
            }
            .content {
                h2 {
                    .dictionariez-btn-wrapper {
                        display: none;
                    }

                    .post-content-wrapper {
                        display: block;
                        position: relative;
                        border-left: none;
                        text-align: left;
                        margin-top: 5px;
                        overflow: hidden;
                        height: auto;
                        max-height: 120px;
                        font-size: 14px;
                        line-height: 19px;
            
                        p {
                            font-size: 14px;
                        }
                        strong {
                            color: @text-muted;
                        }

                        > .fade-effect {
                            content  : "";
                            position : absolute;
                            z-index  : 1;
                            top   : 70px;
                            left     : 0;
                            background-image : linear-gradient(to bottom, 
                                              rgba(255,255,255, 0), 
                                              rgba(255,255,255, 1) 90%);
                            width    : 100%;
                            height   : 50px;
                        }
                    }
                }
            }
        }
    }
    &.captionz-trove > ul {
        > li {
            .content { 
                .video-thumb {
                    img {
                        border-radius: 4px;
                        height: auto;

                        object-fit: cover;
                        width: 140px;
                        height: 78px;
                        object-position: 100% 50%;
                    }
                    .fa-list {
                        position: absolute;
                        bottom: 14px;
                        left: 133px;
                        color: #eee;
                    }
                }
                .user-avatar {
                    margin-left: 94px;
                }
                h2 {
                    margin-left: 160px;
                }

                .stats-row {
                    margin-left: 160px;
                }
            }
        }
    }
    &.dictionariez-trove > ul {
        > li {
            .content { 
                h2 {
                    .dictionariez-btn-wrapper {
                        display: block;
                        a.btn {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            border-radius: 4px;
                        }
                    }
                    .post-content-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}